
/**
 * stylisation bootstrap
 */


blockquote{
	border-left-color: #bf1515!important;
}

.help-block{
	text-align: center;
	border-radius: 2%;
	padding: 0 0 5px 0;

}
.help-block-danger{
	color:#d9534f;
	border:2px solid #d9534f;
}
.help-block-success{
	color:#5cb85c;
	border:2px solid #5cb85c;
}